body {
    user-select: none;
    -webkit-user-drag: none;
    background-image: url("background.jpg");
    
}

div {
    text-align: center;
    
}

img {
    padding: none;
    display: block;
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
}


#zoom {
    max-width: 200%;
}