::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-thumb {
    background: rgb(25, 22, 23);
}

::-webkit-scrollbar-track {
    background: rgb(51, 45, 46);
}


body {
    user-select: none;
    -webkit-user-drag: none;
    background-image: url("background.jpg");
    
}

#buttons-section {
    border: red;
    height: auto;
    width: auto;
}

#imputforming {

}

#div1 {
    text-align: center;
    
}

#div2 {
    width: 50px;
    height: 50px;
    border: 3px;
    background-color: blue;
    position: fixed;
    bottom: 70px;
    right: 10px; 
}

#div3 {
    width: 50px;
    height: 50px;
    border: 3px;
    background-color: red;
    position: fixed;
    bottom: 10px;
    right: 10px; 
}


img {
    padding: 0;
    display: block;
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
    width: 800px;
    height: auto;
}

#fsButton {
    width: 50px;
    height: 50px;
}

#zoom {
    max-width: 200%;
}