body {
    user-select: none;
    -webkit-user-drag: none;
    background-image: url("background.jpg");
    
}

div {
    text-align: center;
    
}

img {
    padding: none;
    display: block;
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
}

.margin0 {
    margin-bottom: 0px;
}

.margin1 {
    margin-bottom: 1px;
}

.margin2 {
    margin-bottom: 2px;
}

.margin3 {
    margin-bottom: 3px;
}

.margin4 {
    margin-bottom: 4px;
}

.margin5 {
    margin-bottom: 5px;
}

.margin6 {
    margin-bottom: 6px;
}

.margin7 {
    margin-bottom: 7px;
}

.margin8 {
    margin-bottom: 8px;
}

.margin9 {
    margin-bottom: 9px;
}

.margin10 {
    margin-bottom: 10px;
}

#zoom {
    max-width: 200%;
}